h1 {
    color: red;
}

.main_container{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh !important;
}

.fruits-table{
    border: 2vh solid lightpink;
    width: 80vh !important;
}

.orange{
    color: orange;
}